<%- include('partials/header.ejs') %>
<h1>Alışveriş Listesi</h1>
    <form action="/items" method="POST">
        <input type="text" name="item" placeholder="Öğe ekle" required>
        <button type="submit">Ekle</button>
    </form>
    <ul>
        <% items.forEach(item => { %>
            <li><%= item.name %></li>
        <% }); %>
    </ul>
    <a href="/items">Tüm Öğeleri Sil</a>

<%- include('partials/footer.ejs') %>
