<%- include('partials/header.ejs') %>



<!-- Modal -->
<div class="modal fade" id="updateItemModal" tabindex="-1" aria-labelledby="updateItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateItemModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="updateItemName" class="form-control">
                <input type="hidden" id="updateItemId" class="form-control">
                <button  onclick="updatePost()" class="btn btn-success my-2" id="updatePost">Save</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h1>To Do List</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                        <input id="itemName" class="form-control" type="text" name="item" placeholder="Öğe ekle" required>
                        <button onclick="createItem()" class="btn btn-success" type="submit">Add</button>
                </div>
                <div class="col">
                    <ul id="itemUl" class="list-group">
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger" href="/items">Clear</a>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        getItems();
    });

    function createItem(){
        const name = $('#itemName').val();
        $.ajax({
            url: 'http://127.0.0.1:3000/createItem',
            data:{'name':name},
            method: 'post',
            success: (response)=>{

                getItems();
            },
            error: (xhr)=>{
                console.log(xhr);
            },
        })
    }


    function getItems(){
        const ul = $('#itemUl');
        var li,div,span,deleteButton,editButton,div2;
        $.ajax({
            url: 'http://127.0.0.1:3000/getItems',
            method: 'get',
            success: (response)=>{
                console.log(response);
                response.forEach((item)=>{
                    li = document.createElement('li');
                    li.classList.add('list-group-item');

                    div = document.createElement('div');
                    div.classList.add('d-flex');
                    div.classList.add('justify-content-between');

                    span = document.createElement('span');
                    span.innerText = item.name;

                    deleteButton = document.createElement('button');
                    deleteButton.classList.add('btn');
                    deleteButton.classList.add('btn-danger');
                    deleteButton.setAttribute('onclick','deleteItem('+item.id+','+'\''+item.name+'\''+')');
                    deleteButton.innerText = "Delete";

                    editButton = document.createElement('button');
                    editButton.classList.add('btn');
                    editButton.classList.add('btn-warning');
                    editButton.classList.add('mx-2');
                    editButton.setAttribute('onclick','openEditModal('+item.id+')');
                    editButton.setAttribute('data-bs-toggle','modal');
                    editButton.setAttribute('data-bs-target','#updateItemModal');
                    editButton.innerText = "Edit";

                    div2 = document.createElement('div');
                    div2.append(deleteButton);
                    div2.append(editButton);

                    div.append(span);
                    div.append(div2);
                    li.append(div);
                    ul.append(li);

                })
                ul.append(li)
                console.log(response);
            },
            error: (xhr)=>{
                console.log(xhr);
            }
        })
    };
    function openEditModal(id){
        $.ajax({
            url: 'http://127.0.0.1:3000/getItem/'+id,
            success: (response)=>{
                $('#updateItemName').val(response[0].name);
                $('#updateItemId').val(response[0].id);
                console.log(response);
            },
            error: (xhr)=>{
                console.log(xhr)
            }
        })
    }

    function updatePost(){
        const name = $('#updateItemName').val();
        const id = $('#updateItemId').val();
        $.ajax({
            url: 'http://127.0.0.1:3000/update/post',
            type: 'post',
            data: {
                'name':name,
                'id':id,
            },
            success: ()=>{
                location.reload()
            },
            error: ()=>{

            }
        })
    }

    function deleteItem(id,name){
        Swal.fire({
            title: "Are You Sure?",
            text: "\""+name+"\" item is about to be deleted.",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Delete",
            denyButtonText: `Cancel`
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: 'http://127.0.0.1:3000/delete',
                    data: {'id':id},
                    method: 'delete',
                    success: ()=>{
                        Swal.fire("Deleted!", "", "success");
                        location.reload();
                    },
                    error: (xhr)=>{
                        console.log(xhr)
                    }
                });
            } else if (result.isDenied) {
                Swal.fire("Changes are not saved", "", "info");
            }
        });
    }
</script>
<%- include('partials/footer.ejs') %>
